<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <!-- <img src="https://d341ezm4iqaae0.cloudfront.net/assets/sites/39/2015/12/14015226/indeed-for-employers2-1.png"
                            alt="" width="100%"> -->
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="container" style="margin: 30px auto;">
                <div class="row">
                    <div class="col-md-4">
                        <button id="" class="btn btn-primary contactform">Contact Us</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">

    </div>
</div>



<div class="container text-center procontent">
    <div class="row">
        <h1>How Indeed helps you hire</h1>
    </div>
    <div class="row">
        <h3>Indeed helps you connect with talent, on desktop and mobile, so you can make <br> more quality hires faster.
        </h3>
    </div>
</div>



<div class="container" style="margin: 80px auto;">
    <div class="row">
        <div class="col-md-6 animated-text" style="background-color: rgb(255, 255, 255);">
            <div class="container">
                <div class="row">
                    <h1>Post Jobs</h1>
                </div>
                <div class="row">
                    <h2>Get started for free</h2>
                    <h5>Anyone can post jobs for free.* Post jobs directly on Indeed or through your company career site
                        or ATS.</h5>
                </div>
                <div class="row">
                    <h3>Invest to find the right fit faster</h3>
                    <h5>
                        To attract more candidates, pay to promote your jobs as <a href="">Sponsored listings</a> .
                        Sponsored Jobs are prominently displayed in search results, and they receive up to 4.5X more
                        clicks.
                    </h5>
                </div>
                <div class="row">
                    <h1> <a href="">Learn more about posting a job</a></h1>
                    <a href="">* Terms, conditions, quality standards and usage limits apply.</a>
                    <p>Source: Indeed data (worldwide)</p>
                </div>
            </div>
        </div>
        <div class="col-md-6 animated-img">
            <img src="/assets/job-website-image.jpg"
                alt="" width="100%">
        </div>
    </div>
</div>
<hr>
<div class="container" style="margin: 80px auto;">
    <div class="row">
        <div class="col-md-6 animated-img">
            <img src="/assets/job-website-image01.jpg" alt=""
                width="100%">
        </div>
        <div class="col-md-6 animated-text" style="background-color: rgb(255, 255, 255);">
            <div class="container" style="margin-top:100px ;">
                <div class="row">
                    <h1>Indeed Resume</h1>
                </div>
                <div class="row">
                    <h4>With more than 200 million resumes, you can find unlimited candidates in every field and target
                        your resume search for free.</h4>
                </div>
                <div class="row">

                </div>
                <div class="row">
                    <h2> <a href="">Learn more about hiring with Indeed Resume</a></h2>

                </div>
            </div>
        </div>

    </div>
</div>
<hr>
<div class="container" style="margin: 80px auto;">
    <div class="row">
        <div class="col-md-6 animated-text" style="background-color: rgb(255, 255, 255);">
            <div class="container">
                <div class="row">
                    <h1>Mobile Recruiting</h1>
                </div>
                <div class="row">
                    <h4>Make it easy for people to apply directly to your jobs from any device. Get up to 4X the number
                        of candidates when you <a href=""> accept mobile applications</a> from Indeed.</h4>
                </div>

                <div class="row">
                    <h1> <a href="">Learn more about your mobile recruiting options</a></h1>

                    <p>Source: Indeed data (worldwide) </p>
                </div>
            </div>
        </div>
        <div class="col-md-6 animated-img">
            <img src="/assets/Mobile-Recruiting (1).png"
                alt="" width="100%">
        </div>
    </div>
</div>
<hr>
<div class="container" style="margin: 80px auto;">
    <div class="row">
        <div class="col-md-6 animated-img">
            <img src="/assets/job-website-image01.jpg" alt=""
                width="100%">
        </div>
        <div class="col-md-6 animated-text" style="background-color: rgb(255, 255, 255);">
            <div class="container">
                <div class="row">
                    <h1>Featured Employer</h1>
                </div>
                <div class="row">
                    <h4>Give your jobs more visibility in search results as a <a href=""> Featured Employer</a>. Receive
                        prominent logo placement with links to your Company Page and Sponsored Jobs.</h4>
                </div>
                <div class="row">
                    <h3>Invest to find the right fit faster</h3>
                    <h5>
                        To attract more candidates, pay to promote your jobs as <a href="">Sponsored listings</a> .
                        Sponsored Jobs are prominently displayed in search results, and they receive up to 4.5X more
                        clicks.
                    </h5>
                </div>
                <div class="row">
                    <h1> <a href="">Learn more about posting a job</a></h1>
                    <a href="">* Terms, conditions, quality standards and usage limits apply.</a>
                    <p>Source: Indeed data (worldwide)</p>
                </div>
            </div>
        </div>

    </div>
</div>
<hr>
<div class="container" style="margin: 80px auto;">
    <div class="row">
        <div class="col-md-6 animated-text" style="background-color: rgb(255, 255, 255);">
            <div class="container">
                <div class="row">
                    <h1>Post Jobs</h1>
                </div>
                <div class="row">
                    <h2>Get started for free</h2>
                    <h5>Anyone can post jobs for free.* Post jobs directly on Indeed or through your company career site
                        or ATS.</h5>
                </div>
                <div class="row">
                    <h3>Invest to find the right fit faster</h3>
                    <h5>
                        To attract more candidates, pay to promote your jobs as <a href="">Sponsored listings</a> .
                        Sponsored Jobs are prominently displayed in search results, and they receive up to 4.5X more
                        clicks.
                    </h5>
                </div>
                <div class="row">
                    <h1> <a href="">Learn more about posting a job</a></h1>
                    <a href="">* Terms, conditions, quality standards and usage limits apply.</a>
                    <p>Source: Indeed data (worldwide)</p>
                </div>
            </div>
        </div>
        <div class="col-md-6 animated-img">
            <img src="/assets/01.png"
                alt="" width="100%">
        </div>
    </div>
</div>



<div class="container procontent">
    <div class="row">
        <div class="col-md-3">
            <h1>Ready to post a job today?</h1>
            <h1>Get started in 5 minutes.</h1>
            <button id="" class="btn btn-primary showPostJob">Post a job</button>

        </div>
        <div class="col-md-6">

        </div>
        <div class="col-md-3">
            <h1>See how Indeed can work</h1>
            <h1>best for your business.</h1>
            <button id="" class="btn btn-primary contactform">Contact Us</button>
        </div>
    </div>
</div>

<div id="popupDialogContact" class="popup">
    <div class="popup-content">
        <span class="close" id="closeButtonContact">&times;</span>
        <div class="popup-form">
            <h1>Contact Us</h1>
            <form [formGroup]="contactForma" (ngSubmit)="contactdetailsemp(contactForma)">
                <div class="form-group">
                  <div class="mb-3">
                    <label class="form-label">*How can we help?</label>
                    <select class="form-select" formControlName="contacthelp">
                      <option value="" disabled selected>Select an option</option>
                      <option value="accountverification">Account Verification</option>
                      <option value="advertiseonindeed">Advertise on Indeed</option>
                      <option value="billing">Billing</option>
                      <option value="contact">Contact</option>
                      <option value="contactsales">Contact Sales</option>
                      <option value="disabledaccount">Disabled Account</option>
                      <option value="passwordreset">Password Reset</option>
                      <option value="resumesearch">Resume Search</option>
                    </select>
                  </div>
                </div>
              
                <div class="form-group">
                  <label for="contactname">Name:</label>
                  <input type="text" id="contactname" formControlName="contactname" class="form-control" required>
                  <div *ngIf="contactForma.get('contactname')?.hasError('required') && (contactForma.get('contactname')?.dirty || contactForma.get('contactname')?.touched)" class="text-danger">
                    Name is required.
                  </div>
                </div>
              
                <div class="form-group">
                  <label for="contactmail">Email:</label>
                  <input type="email" id="contactmail" formControlName="contactmail" class="form-control" required>
                  <div *ngIf="contactForma.get('contactmail')?.hasError('required') && (contactForma.get('contactmail')?.dirty || contactForma.get('contactmail')?.touched)" class="text-danger">
                    Email is required.
                  </div>
                  <div *ngIf="contactForma.get('contactmail')?.hasError('pattern') && (contactForma.get('contactmail')?.dirty || contactForma.get('contactmail')?.touched)" class="text-danger">
                    Invalid email format. Must end with '@gmail.com'.
                  </div>
                </div>
              
                <div class="form-group">
                  <label for="contactcompany">Company:</label>
                  <input type="text" id="contactcompany" formControlName="contactcompany" class="form-control" required>
                  <div *ngIf="contactForma.get('contactcompany')?.hasError('required') && (contactForma.get('contactcompany')?.dirty || contactForma.get('contactcompany')?.touched)" class="text-danger">
                    Company is required.
                  </div>
                </div>
              
                <div class="form-group">
                  <label for="contactphone">Phone:</label>
                  <input type="tel" id="contactphone" formControlName="contactphone" class="form-control" required>
                  <div *ngIf="contactForma.get('contactphone')?.hasError('required') && (contactForma.get('contactphone')?.dirty || contactForma.get('contactphone')?.touched)" class="text-danger">
                    Phone is required.
                  </div>
                </div>
              
                <button type="submit" class="btn btn-primary">Submit</button>
              </form>
              

        </div>

    </div>
</div>

<div id="popupDialogJob" class="popup">
    <div class="popup-content">
        <span class="close" id="closeButtonJob">&times;</span>
        <div class="popup-form">
            <h1>Let's Get Started</h1>
            <p>Already have an account? <b> <a routerLink="/employer/empregister">Register</a>
                </b> </p>
                <form [formGroup]="companyswitch" (ngSubmit)="switchtoemployer()">
                    <div class="form-group">
                      <label for="companyName">Company Name:</label>
                      <input type="text" id="companyName" formControlName="empcompany" class="form-control" required>
                    </div>
                    <div class="form-group">
                      <label for="empmailid">Email:</label>
                      <input type="email" id="empmailid" formControlName="empmailid" class="form-control" required>
                      <div *ngIf="companyswitch.get('empmailid')?.hasError('required') && companyswitch.get('empmailid')?.touched" class="text-danger">
                        Email is required.
                      </div>
                      <div *ngIf="companyswitch.get('empmailid')?.hasError('email') && companyswitch.get('empmailid')?.touched" class="text-danger">
                        Please enter a valid email address.
                      </div>
                      <div *ngIf="companyswitch.get('empmailid')?.hasError('invalidGmail') && companyswitch.get('empmailid')?.touched" class="text-danger">
                        Email must end with @gmail.com.
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="emppass">Password:</label>
                      <input type="password" id="emppass" formControlName="emppass" class="form-control" required>
                      <div *ngIf="companyswitch.get('emppass')?.hasError('required') && companyswitch.get('emppass')?.touched" class="text-danger">
                        Password is required.
                      </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                  </form>
            <p>By creating an account, you agree to Indeed’s <a href="">Terms of Service</a> ,
                <a href="">Cookie Policy</a> and <a href="">Privacy Policy</a>. You consent to
                receiving marketing messages from Indeed and may opt out from receiving such
                messages by following the unsubscribe link in our messages, or as detailed in
                our terms.
            </p>
        </div>

    </div>
</div>