<div class="container employerhead text-center">
    <div class="row">
        <h1>Job 4 Job Less</h1>
    </div>
</div>

<div class="container">
    <div class="row">
        <h1 class="text-center">Ready to take the next step?</h1>
        <div class="col-md-3">

        </div>
        <div class="col-md-6">
            <div class="container custom-box">
                <div class="row">
                    <h1>Register Now</h1>
                    <div class="col-md 6">
                        <form [formGroup]="employerdetails" (ngSubmit)="empRegisteration()">


                            <div class="form-group">
                                <label for="empfname">First Name:</label>
                                <input type="text" id="empfname" formControlName="empfname" class="form-control"
                                    required>
                            </div>


                            <div class="form-group">
                                <label for="emplname">Last Name:</label>
                                <input type="text" id="emplname" formControlName="emplname" class="form-control"
                                    required>
                            </div>


                            <div class="form-group">
                                <label for="empcompany">Company Name:</label>
                                <input type="text" id="empcompany" formControlName="empcompany" class="form-control"
                                    required>
                            </div>

                            <div class="form-group">
                                <label for="empmailid">Email:</label>
                                <input type="email" id="empmailid" formControlName="empmailid" class="form-control" required>
                                <div *ngIf="employerdetails.get('empmailid')?.hasError('email') && !employerdetails.get('empmailid')?.hasError('pattern')" class="text-danger">
                                  Please enter a valid email address.
                                </div>
                                <div *ngIf="employerdetails.get('empmailid')?.hasError('pattern')" class="text-danger">
                                  Email must be a valid Gmail address.
                                </div>
                              </div>                                                                                                                                                    


                              <div class="form-group">
                                <label for="emppass">Password:</label>
                                <input type="password" id="emppass" formControlName="emppass" class="form-control" required>
                                <div *ngIf="employerdetails.get('emppass')?.hasError('minlength')" class="text-danger">
                                  Password must be at least 8 characters long.
                                </div>
                                <div *ngIf="employerdetails.get('emppass')?.hasError('pattern')" class="text-danger">
                                  Password must contain both letters and numbers.
                                </div>
                              </div>


                

                              <div class="form-group">
                                <label for="empphone">Phone:</label>
                                <div class="input-group">
                                  <div class="input-group-prepend">
                                    <span class="input-group-text">
                                      <i class="flag-icon flag-icon-us"></i> <!-- Default flag icon (USA) -->
                                    </span>
                                  </div>
                                  <!-- <select id="empcountryCode" formControlName="empcountryCode" class="form-control">
                                    <option value="+1" data-flag="us">+1 (USA)</option>
                                    <option value="+44" data-flag="gb">+44 (UK)</option>
                                
                                  </select> -->
                                  <input type="tel" id="empphone" formControlName="empphone" class="form-control" required>
                                </div>
                                <div *ngIf="employerdetails.get('empphone')?.hasError('pattern')" class="text-danger">
                                  Please enter a valid 10-digit phone number.
                                </div>
                              </div>
                              
                              

                            <div class="form-group">
                                <label for="empcountry">Country:</label>
                                <select id="empcountry" formControlName="empcountry" class="form-control" required>
                                    <option value="">Select a country</option>
                                    <option value="usa">United States</option>
                                    <option value="canada">Canada</option>
                                    <option value="uk">United Kingdom</option>
                                    <!-- Add more options here -->
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="empstate">State:</label>
                                <select id="empstate" formControlName="empstate" class="form-control" required>
                                    <option value="">Select a country</option>
                                    <option value="usa">United States</option>
                                    <option value="canada">Canada</option>
                                    <option value="uk">United Kingdom</option>
                                    <!-- Add more options here -->
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="empcity">City:</label>
                                <select id="empcity" formControlName="empcity" class="form-control" required>
                                    <option value="">Select a country</option>
                                    <option value="usa">United States</option>
                                    <option value="canada">Canada</option>
                                    <option value="uk">United Kingdom</option>
                                    <!-- Add more options here -->
                                </select>
                            </div>

                        
                            <div class="form-group">
                                <label for="descriptionemp">Description:</label>
                                <textarea id="descriptionemp" formControlName="descriptionemp" class="form-control" rows="4" required></textarea>
                            </div>
                            


                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>




<tr *ngFor="let d of data1">
    <td>{{d.empmailid}}</td>
    <td>{{d.emppass}}</td>
    <td>{{d.empcompany}}</td>
    <td>{{d.empid}}</td>
    <td></td>
</tr>