<div class="container">
    <div class="row">

        <h1>Check User Existence</h1>
        <form [formGroup]="userForm"> <!-- Use formGroup directive -->
            <div class="form-group">
                <label for="userName">Email (must be a valid Gmail address):</label>
                <input type="email" class="form-control" formControlName="userName" placeholder="Enter Email">
                <div *ngIf="userForm.get('userName')?.hasError('required') && userForm.get('userName')?.touched"
                    class="text-danger">Email is required.
                </div>
                <div *ngIf="userForm.get('userName')?.hasError('email') && userForm.get('userName')?.touched"
                    class="text-danger">Please enter a valid email address.
                </div>
            </div>
            <button (click)="checkUser()" class="btn btn-primary">Check User</button>
        </form>
    </div>

    <div class="row mt-4">
        <div class="col-md-6">
            <div *ngIf="user" class="alert alert-success">
                Success: User exists - {{ user['userName'] }} <!-- Access 'userName' with square brackets -->
            </div>
            <div *ngIf="showWarning" class="alert alert-warning">
                Warning: User does not exist
            </div>
        </div>
    </div>
</div>