<div class="container">
  <h2>Update User Profile</h2>
  <!-- <div>
    <p>Username: {{ abc }}</p>
  </div> -->
  
  <form [formGroup]="userform" (ngSubmit)="updateUser()">
    <input type="hidden" formControlName="userName" [value]="abc" />

    <div class="form-group">
      <label for="empfname">First Name</label>
      <input type="text" id="empfname" formControlName="userFirstName" class="form-control" required>
    </div>
    <div class="form-group">
      <label for="emplname">Last Name</label>
      <input type="text" id="emplname" formControlName="userLastName" class="form-control" required>
    </div>
    <div class="form-group">
      <label for="empcompany">Company</label>
      <input type="text" id="empcompany" formControlName="companyuser" class="form-control" required>
    </div>
    <div class="form-group">
      <label for="emppass">Password</label>
      <input type="password" id="emppass" formControlName="userPassword" class="form-control" required>
    </div>
    <div class="form-group">
      <label for="empphone">Phone</label>
      <input type="tel" id="empphone" formControlName="userphone" class="form-control" required>
    </div>
    <div class="form-group">
      <label for="empcountry">Country</label>
      <input type="text" id="empcountry" formControlName="usercountry" class="form-control" required>
    </div>
    <div class="form-group">
      <label for="empstate">State</label>
      <input type="text" id="empstate" formControlName="userstate" class="form-control" required>
    </div>
    <div class="form-group">
      <label for="empcity">City</label>
      <input type="text" id="empcity" formControlName="usercity" class="form-control" required>
    </div>
    <div class="form-group">
      <label for="websiteuser">Website</label>
      <input type="text" id="websiteuser" formControlName="websiteuser" class="form-control" required>
    </div>
    <button type="submit" class="btn btn-primary">Save Profile</button>
  </form>
</div>
