<div class="container" style="margin-top: 30px;">
    <h1>Find great places to work</h1>
</div>
<div class="container">
    <h6>Get access to millions of company reviews</h6>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-7">
            <div class="form-group">
                <label for="cnoj">Company name or job title</label>
                <input type="text" id="cnoj" name="cnoj" class="form-control">
            </div>
        </div>
        <div class="col-md-2" style="margin-top: 20px;">
            <button type="submit" class="btn btn-primary">Find Companies</button>
        </div>

    </div>
</div>
<div class="container">
    <a href="">Do you want to search for salaries?</a>
</div>
<div class="container" style="margin-top: 15px;">
    <h3>Popular companies</h3>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="container">
                <div class="row">
                    <!-- <div class="col-md-1"></div> -->
                    <div class="col-md-3">
                        <div class="container">
                            <div class="row">
                                <img src="assets/2fa291ec-7b3c-46da-b33d-2886bca037a9.jpg" alt="">
                            </div>
                            <div class="row text-center">
                                <a href="">Salaries</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="container">
                            <div class="row">
                                <h6>Orage Technoogies</h6>
                            </div>
                            <div class="row">
                               <div class="col-md-1">
                                   <i class="fa-solid fa-star" style="color: #ffcd1a;"></i>
                               </div>
                               <div class="col-md-1">
                                <i class="fa-solid fa-star" style="color: #ffcd1a;"></i>
                            </div>
                            <div class="col-md-1">
                                <i class="fa-solid fa-star" style="color: #ffcd1a;"></i>
                            </div>
                            <div class="col-md-1">
                                <i class="fa-solid fa-star" style="color: #ffcd1a;"></i>
                            </div>
                            <div class="col-md-1">
                                <i class="fa-solid fa-star" style="color: #ffcd1a;"></i>
                            </div>
                            </div>
                            <div class="row">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <a href="">Questions</a>
                                        </div>
                                        <div class="col-md-6">
                                            <a href="">Open jobs</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container" style="margin-top:10px;">
    <div class="row">
        <div class="col-md-4">
            <div class="container">
                <div class="row">
                    <!-- <div class="col-md-1"></div> -->
                        <div class="col-md-3">
                        <div class="container">
                            <div class="row">
                                <img src="assets/2fa291ec-7b3c-46da-b33d-2886bca037a9.jpg" alt="">
                            </div>
                            <div class="row text-center">
                                <a href="">Salaries</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="container">
                            <div class="row">
                                <h6>Orage Technoogies</h6>
                            </div>
                            <div class="row">
                               <div class="col-md-1">
                                   <i class="fa-solid fa-star" style="color: #ffcd1a;"></i>
                               </div>
                               <div class="col-md-1">
                                <i class="fa-solid fa-star" style="color: #ffcd1a;"></i>
                            </div>
                            <div class="col-md-1">
                                <i class="fa-solid fa-star" style="color: #ffcd1a;"></i>
                            </div>
                            <div class="col-md-1">
                                <i class="fa-solid fa-star" style="color: #ffcd1a;"></i>
                            </div>
                            <div class="col-md-1">
                                <i class="fa-solid fa-star" style="color: #ffcd1a;"></i>
                            </div>
                            </div>
                            <div class="row">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <a href="">Questions</a>
                                        </div>
                                        <div class="col-md-6">
                                            <a href="">Open jobs</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
