<div class="container-fluid text-center" >
  <h4>JOB POSTED</h4>
  <div class="row">
      <div class="col">
          <div class="table-responsive">
              <table class="table table-bordered table-striped table-sm"> <!-- Added 'table-sm' for smaller screens -->
                  <thead>
                      <tr style="background-color: rgb(143, 236, 143);">
                          <!-- <th>Job ID</th> -->
                          <th>Job Title</th>
                          <th>Company</th>
                          <th>Number of Openings</th>
                          <th>Location</th>
                          <th>Job Type</th>
                          <th>Schedule</th>
                          <th>Base Pay</th>
                          <th>Supplemental Pay</th>
                          <th>Description</th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr *ngFor="let job of data" style="background-color: rgb(216, 252, 216);">
                          <!-- <td>{{ job.jobid }}</td> -->
                          <td>{{ job.jobtitle }}</td>
                          <td>{{ job.companyforthisjob }}</td>
                          <td>{{ job.numberofopening }}</td>
                          <td>{{ job.locationjob }}</td>
                          <td>{{ job.jobtype }}</td>
                          <td>{{ job.schedulejob }}</td>
                          <td>{{ job.payjob }}</td>
                          <td>{{ job.payjobsup }}</td>
                          <td>{{ job.descriptiondata }}</td>
                      </tr>
                  </tbody>
              </table>
          </div>
      </div>
  </div>
</div>
