<nav class="navbar navbar-expand-lg navbar-dark bg-dark"  *ngIf="showNavbaremp">
    <a class="navbar-brand" href="#">Your Logo</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="/employer" routerLinkActive="active">Post a job</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/employer/findcv" routerLinkActive="active">Find CVs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/employer/products" routerLinkActive="active">Products</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/employer/resources" routerLinkActive="active">Resources</a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/employer/helpcenter" routerLinkActive="active">Help Center <i class="fa-solid fa-question"></i></a>
        </li>
  
        <li class="nav-item">
          <a class="nav-link" routerLink="/login" target="_blank" routerLinkActive="active">Find Jobs</a>
        </li>
        
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/employer/empsign" routerLinkActive="active"><button class="btn btn-primary">Sign-in</button></a>
        </li>
      </ul>
    </div>
  </nav>
  
 
  <router-outlet></router-outlet>