img{
    width: 100%;
}
.card-title{
    color: blue;
}
.card-text{
    color: rgb(81, 81, 160);
}
.testimonial {
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .carousel-inner {
    text-align: center;
  }
  .industry-card {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
  }
  
  .industry-card:hover {
    background-color: lightblue;
    transform: scale(1.05);
  }
  
  .industry-logo img {
    max-width: 100%;
  }
  
  .industry-name p {
    color: #333;
    font-weight: bold;
    margin: 10px 0;
  }
  .card-img-container {
    overflow: hidden;
    position: relative;
    transition: transform 0.3s;
  }
  
  .card-img-container img {
    max-width: 100%;
    height: auto;
    transition: transform 0.3s;
  }
  
  .card-img-container:hover {
    transform: scale(1.1); /* Increase the scale to zoom in */
  }
  
  .card-img-container:hover img {
    transform: scale(1.1); /* Increase the scale to zoom in */
  }

  
  .image-box {
    position: relative;
    overflow: hidden;
    width: 300px; /* Adjust the width as needed */
    height: 200px; /* Adjust the height as needed */
  }
  
  .image-box img {
    width: 100%;
    height: 100%;
    transition: opacity 0.3s;
  }
  
  .image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7); /* Adjust the opacity (last value) as needed */
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .overlay-text {
    color: #fff;
    font-size: 18px;
    text-align: center;
    padding: 10px;
  }
  
  .image-box:hover img {
    opacity: 0.7; /* Adjust the opacity on hover as needed */
  }
  
  .image-box:hover .image-overlay {
    opacity: 1;
  }
  